.jumbotron {
	padding-top: 90px;
	min-height: 400px;
	margin-bottom: 0;
	background-image: url('cover.JPG');
	background-size: cover;
	background-attachment: fixed;
}

.jumbotron img {
  margin-top: 50px;
}

.jumbotron .form-group {
  line-height: 1em;
}
